@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;

  .App {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;

    .nav {
      background: #ffffff;
      text-align: center;
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;

      .nav-list {
        ul {
          font-size: 1rem;
          display: flex;
          list-style: none;
          align-items: flex-end;
          gap: 1rem;
        }

        a {
          color: #101010;
          text-decoration: none;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            color: orange;
          }
        }
      }

      .navBtn {
        background: #dd8941;
        border-radius: 50px;
        padding: 0.5rem 2rem;
        border: none;
        outline: none;
        color: #101010;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          background: orange;
          transition: all 0.5s ease;
        }
      }
    }

    .footer {
      display: flex;
      padding: 2rem 0rem 2rem 2rem;
      height: 70vh;

      p {
        font-size: 1rem;
      }

      h4 {
        margin-bottom: 0;
      }
      ul {
        list-style: none;
        padding: 0;
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.5rem;

        a {
          text-decoration: none;
          color: #101010;

          &:hover {
            color: #ffffff;
          }
        }
      }

      .footerSec1 {
        flex: 1;
        margin-top: 25vh;
        line-height: 1.5rem;

        .email {
          color: #ffffff;
          cursor: pointer;
        }
      }

      .footerSec2 {
        flex: 2;
        margin-top: 26vh;
        padding: 0 0 0 2rem;

        .canada {
          margin-top: 2rem;
        }
      }

      .footerSec3 {
        flex: 3;
        margin-top: 26vh;
        padding: 0 0 0 1rem;
      }

      .footerSec4 {
        flex: 4;
        margin-top: 26vh;
        padding: 0 0 0 1rem;

        form {
          input {
            outline: none;
            border: none;
            padding: 0.5rem;
            background: #101010;
            color: #ffffff;
            border-radius: 50px;
            width: 14rem;
            font-weight: 500;
          }

          .footerBtn {
            display: flex;
            @extend input;
            color: #dd8941;
            background: #ffffff;
            width: 15rem;
            margin-top: 0.5rem;
            justify-content: center;
            cursor: pointer;

            &:hover {
              background: #dd8941;
              color: #ffffff;
              transition: all 0.5s ease;
            }
          }
        }

        .socialIcons {
          padding: 1rem 0;
          gap: 1rem;
          display: flex;
          i {
            padding: 1rem 0.5rem;
            background: #101010;
            color: #ffffff;
            width: 2rem;
            border-radius: 50%;
            align-items: center;
            text-align: center;
            cursor: pointer;

            &:hover {
              background: #ffffff;
              color: #dd8941;
            }
          }
        }
      }
    }

    .content {
      display: flex;
      padding: 6rem 2rem;
      justify-content: space-between;

      .contentText {
        width: 30vw;
        h4 {
          font-size: 1.2rem;
          color: #dca87c;
          font-weight: 500;
        }

        h2 {
          font-weight: 600;
          color: #233142;
          font-size: 3rem;
        }

        h6 {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 400;
          color: #233142;
        }

        .contentBtn {
          background: #dd8941;
          border-radius: 50px;
          padding: 0.5rem 0.5rem 0.5rem 1rem;
          border: none;
          outline: none;
          color: #101010;
          font-weight: 600;
          cursor: pointer;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 400;

          &:hover {
            background: orange;
            transition: all 0.5s ease;
          }

          i {
            margin-left: 0.5rem;
            font-size: larger;
          }
        }
      }
    }
  }
}
